node_modules
.env
.env.local
.env.production

server/node_modules
server/.env

client/node_modules
client/.env
client/.env.local
client/.env.production
client/dist

.DS_Store
npm-debug.log

server/uploads/*
!server/uploads/.gitkeep
!server/uploads/avatars/
!server/uploads/avatars/.gitkeep
!server/uploads/projects/
!server/uploads/projects/.gitkeep
!server/uploads/general/
!server/uploads/general/.gitkeep
